* {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

button {
  border: none;
  background: transparent;
  outline: none;
}

body {
  background-color: aliceblue;
  text-align: center;
  margin: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.list {
  width: 400px;
  margin: auto;
  background-color: #f7f7f7;
  border-radius: 20px;
  box-shadow: 17px 18px 9px 0px rgba(161, 151, 151, 0.75);
}

.header {
  height: 48px;
  padding: 8px;
  font-size: 24px;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.7) 0%,
    rgba(148, 187, 233, 0.5) 100%
  );
  border-radius: 20px 20px 0 0;
  color: white;
}

.items {
  height: 500px;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
}

.item__delete {
  font-size: 15px;
  cursor: pointer;
  transition: all 300ms ease-in;
}

.item__delete:hover {
  color: rgb(211, 0, 98);
  transform: scale(1.1);
}

.footer {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.7) 0%,
    rgba(148, 187, 233, 0.5) 100%
  );
  border-radius: 0 0 20px 20px;
}

.footer__input {
  width: 100%;
  height: 32px;
  outline: none;
  border: none;
  font-size: 18px;
  padding: 0 16px;
}

.footer__button {
  width: 45px;
  height: 45px;
  font-size: 30px;
  background-color: black;
  border-radius: 50%;
  color: white;
  transition: transform 300ms ease-in;
  margin: 10px 0;
}

.footer__button:hover {
  transform: scale(1.1);
}
